<%= form_tag(@ajax_path, name: 'mypageform') do %>
<div id="left-mypage-menu">
    <input id="page" name="page" value=1 type="hidden">
	<input id="menutype" value=1 type="hidden">	
	<input id="ipSort" name="sort" value="youtube_views" type="hidden">
    <input id="ipSearchHd" name="search" type="hidden">
    <input id="ipVType" name="category" value="all" type="hidden">
    <input id="hnMin" name="hotness[min]" type="hidden" value="0">
    <input id="hnMax" name="hotness[max]" type="hidden" value="10">
    <input id="cnMin" name="cheesiness[min]" type="hidden" value="0">
    <input id="cnMax" name="cheesiness[max]" type="hidden" value="10">
    <input id="epMin" name="english_percentage[min]" type="hidden" value="0">
    <input id="epMax" name="english_percentage[max]" type="hidden" value="100">
    <input id="arMin" name="approval_rating[min]" type="hidden" value="0">
    <input id="arMax" name="approval_rating[max]" type="hidden" value="100">
    <input id="ipSubtitle" name="english_subtitle" value="" type="hidden">
    <input id="ipOVideo" name="official" value="" type="hidden">
    <input id="ipLContent" name="licensed_content" value="" type="hidden">

    <div class="menu_profile row">
    	<%= image_tag("main/profile_none.png") %>
    	<div class="pname"><%= current_user.email %></div>
        <!-- <div class="btnEditProfile" data-toggle="modal" data-target="#editprofileModal" class="hook--showmodal">Edit Profile</div> -->
    </div>

    <div class="menu_item">
        <div class="row">
            <a href="/main/list_likes"><div class="col-md-8"><%= image_tag "mypage/like.png" %> Liked</div></a>
        </div>
    </div>
    <div class="menu_item">
        <div class="row">
            <a href="/main/list_collections"><div class="col-md-8"><%= image_tag "mypage/collection.png" %> Collection</div></a>
        </div>
    </div>    
    <div class="menu_item">
        <div class="row">
            <div class="col-md-8"><%= image_tag "mypage/later.png" %> Later</div>
        </div>
    </div>    
</div>
<% end %>