<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body container-fluid">

        <div class="row">
          <div class="dialog-title">Log in</div>
          <%= image_tag "login/close.png", :class => "close", :data => {:dismiss=>"modal"} %>
        </div>

      <!--
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "sign_in_user"}) do |f| %> 
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
      <% end %>
    -->
               
      
        <div class="field">
          <div class="title">Email</div>            
          <input id="ipEmail" type="text" class="form-control" autofocus> 
        </div>

        <div class="field">
          <div class="title">Password</div>            
          <input id="ipPassword" type="password" class="form-control">            
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">              
            <input id="cbRemember" type="checkbox" value="0">
            <span>Remember me</span>              
          </div>
        <% end -%>

        <div class="actions">
          <button id="btnLogin">Login</button>            
        </div>                      

        <div class="links">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name) %>
          <% end -%>
          or
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>