  <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body container-fluid">
          <div class="row">
            <div class="titleD"></div>
            <%= image_tag "main/video_player/close.png", :class => "close", :data => {:dismiss=>"modal"} %></div>
          <div class="detail-infos row">
            <div class="col-md-2">
              <div class="youtube_user_id"></div>
              <div class="category"></div>
            </div>            
            <div class="views col-md-2"><%= image_tag "main/video_player/view.png" %> <span class="value"></span></div>
            <div class="upvotes col-md-2"><%= image_tag "main/video_player/like.png" %> <span class="value"></span></div>
            <div class="downvotes col-md-2"><%= image_tag "main/video_player/dislike.png" %> <span class="value"></span></div>
            <div class="approval col-md-2"></div>
            <div class="upload_date col-md-2"></div>
          </div>
          <div class="main-video">
            <iframe class="iframe" src="" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="footer-content row">
            <div class="hotness col-md-4">
                <span>Sexy Score</span>
                <input id="ipViewHN" name="view-slider" type="text" class="view_slider" value="" data-slider-id="ipViewHN" data-slider-min="0" data-slider-max="10" data-slider-step="1"/>
            </div>
            <div class="cheesiness col-md-4">
                <span>Cheesy Score</span>
                <input id="ipViewCN" name="view-slider" type="text" class="view_slider" value="" data-slider-id="ipViewCN" data-slider-min="0" data-slider-max="10" data-slider-step="1"/>
            </div>
            <div class="buttonBox">
              <button class="btnLike"><%=image_tag "main/video_player/like_btn.png" %> Like</button>
              <button class="btnAdd"><%=image_tag "main/video_player/add_btn.png" %> Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>