<li class="each_thumbnail">
  <a href="https://www.youtube.com/embed/<%= video.youtube_id %>" data-toggle="modal" data-target="#basicModal" class="hook--showmodal">
    <div class="thumbnail_image">

      <%= image_tag video.thumbnail %>
    </div>

    <div class="thumbnail_title">
      <%= video.title_korean %> <%= video.youtube_views %> Views, <%= video.upvotes * 100 / (video.upvotes + video.downvotes) %>%
    </div>
    <% if video.title_english %>
      <div class="thumbnail_title_eng">
        <%= video.title_english %>
      </div>
    <% end %>
  </a>
</li>
