<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Artist</th>
      <th>Korean title</th>
      <th>English title</th>
      <th>Description</th>
      <th>Artist gender</th>
      <th>Hotness</th>
      <th>Cuteness</th>
      <th>English lyrics</th>
      <th>Subtitle</th>
      <th>Official</th>
      <th>Views</th>
      <th>Up</th>
      <th>Down</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.url %></td>
        <td><%= video.artist %></td>
        <td><%= video.korean_title %></td>
        <td><%= video.english_title %></td>
        <td><%= video.description %></td>
        <td><%= video.artist_gender %></td>
        <td><%= video.hotness %></td>
        <td><%= video.cuteness %></td>
        <td><%= video.english_lyrics %></td>
        <td><%= video.subtitle %></td>
        <td><%= video.official %></td>
        <td><%= video.views %></td>
        <td><%= video.up %></td>
        <td><%= video.down %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
