<div id="notice"></div>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <%= render 'users/user_widget' %><br>
      <%= button_to 'my collections', collections_path, :method => :get %>
      <% if signed_in? && current_user["admin"] %>
        <%= button_to 'admin', admin_path, :method => :get %>
      <% end %>
      <%= render 'filter_form' %>
    </div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <div>
              <iframe id="iframe" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div id="popup_details"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-content" class="col-xs-9">
      <ul class="thumbnails">
      </ul>

      <div id="infinite-scrolling">
      </div>

    </div>
  </div>
</div>


<%= render partial: "each_video_handlebar"%>