<p id="notice"><%= notice %></p>
<p>
  <strong>Youtube_id:</strong>
  <%= @video.youtube_id %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @video.thumbnail %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @video.artist %>
</p>

<p>
  <strong>Youtube_user_id:</strong>
  <%= @video.youtube_user_id %>
</p>


<p>
  <strong>Korean title:</strong>
  <%= @video.title_korean %>
</p>

<p>
  <strong>English title:</strong>
  <%= @video.title_english %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Hotness:</strong>
  <%= @video.hotness %>
</p>

<p>
  <strong>Cheesiness:</strong>
  <%= @video.cheesiness %>
</p>

<p>
  <strong>English percentage:</strong>
  <%= @video.english_percentage %>
</p>

<p>
  <strong>English Subtitle:</strong>
  <%= @video.english_subtitle %>
</p>

<p>
  <strong>Official:</strong>
  <%= @video.official %>
</p>

<p>
  <strong>Views:</strong>
  <%= @video.youtube_views %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @video.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @video.downvotes %>
</p>

<p>
  <strong>Upload Date:</strong>
  <%= @video.upload_date %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
