<!DOCTYPE html>
<html>
<head>
  <title>Sexy K-pop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" %>

  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>

  <!-- Optional theme -->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" %>

  <!-- Latest compiled and minified JavaScript -->
  <%= javascript_include_tag "//code.jquery.com/jquery-1.11.3.min.js" %>
  <%= javascript_include_tag "//code.jquery.com/jquery-migrate-1.2.1.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.js"%>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
