<!DOCTYPE html>
<html>
<head>
  <title>KpopTV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <%= javascript_include_tag 'application_public', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js" %>
  
  <%= javascript_include_tag 'main' %>  

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
